alembic
blinker
certifi
cffi
charset-normalizer
click
cloudipsp
colorama
dnspython
dominate
email-validator
feedwerk
Flask
Flask-Admin
Flask-Bootstrap
Flask-CKEditor
Flask-Mail
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
Mako
Markdown
MarkupSafe
pycparser
PyMySQL
qrcode
requests
six
SQLAlchemy
urllib3
visitor
Werkzeug
WTForms
gunicorn