<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <h3>TASK MANAGER</h3>
          </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-dark">Главная</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Помощь</a></li>            
          </ul>
    
          {% if 'name' in session %}


          <div class="col-md-3 text-end">
            <a href="/worker/{{active_user.id}}" class="btn btn-outline-primary me-2" >Мой профиль</a>

            <a href="/logout" class="btn btn-outline-primary me-2" >Выйти</a>
          </div>

          {% else %}
          <div class="col-md-3 text-end">
            <a href="/auth" class="btn btn-outline-primary me-2" >Войти</a>
          </div>

          {% endif %}
        </header>
      </div>

      {% block main %} {% endblock %}

      <script src="../static/js/bootstrap.min.js"></script>
      {% block js %}{% endblock %}
    </body>
    </html>